<h2><%= @person.name %></h2>


<h3>Age</h3>
<%= @person.age%>
<br />

<h3>Eye color</h3>
<%= @person.eye_color%>
<br />

<h3>Hair Color</h3>
<%= @person.hair_color%>
<br />

<h3>Gender</h3>
<%= @person.gender%>
<br />

<h3>Alive</h3>
<%= @person.alive%>
<br />

<%= link_to 'People', people_path %>
